<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes 👥</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <div id="app">
    <v-app>
      <v-main>
        <v-container class="text-center mt-5">
          <v-row justify="center">
            <v-col cols="12" md="8">
              <v-card>
                <v-card-title class="headline">Consulta de clientes</v-card-title>
                <v-card-text>
                  <v-skeleton-loader v-if="loading" v-bind="attrs" :type="'table'" :row="5" :column="5"></v-skeleton-loader>
                  <v-data-table v-bind:items="lista" :headers="headersClients" v-if="!loading">
                    <template v-slot:top>
                      <v-toolbar flat>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="dialog" max-width="500px">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">Nuevo cliente</v-btn>
                          </template>
                          <v-card>
                            <v-card-title>
                              <span class="text-h5">{{ formTitle }}</span>
                            </v-card-title>
                            <v-card-text>
                              <v-container>
                                <v-row>
                                  <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="editedItem.name" label="Nombre"></v-text-field>
                                  </v-col>
                                  <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="editedItem.lastName" label="Apellido"></v-text-field>
                                  </v-col>
                                  <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="editedItem.email" label="Correo Electrónico"></v-text-field>
                                  </v-col>
                                </v-row>
                              </v-container>
                            </v-card-text>
                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                              <v-btn color="blue darken-1" text @click="save"> Guardar</v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                        <v-dialog v-model="dialogDelete" max-width="500px">
                          <v-card>
                            <v-card-title class="text-h5">¿Deseas eliminarlo de forma permanente?</v-card-title>
                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Aceptar</v-btn>
                              <v-spacer></v-spacer>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                      </v-toolbar>
                    </template>
                    <template v-slot:item.actions="{ item }">
                      <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon><!-- ✏️ -->
                      <v-icon small @click="deleteItem(item)">mdi-delete</v-icon><!-- 🗑️ -->
                    </template>
                  </v-data-table>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-app>
  </div>
</body>

<script>
  var app = new Vue({
    el:"#app",
    vuetify: new Vuetify(),
    data:{
        loading: true,
        dialog: false,
        dialogDelete: false,
        editedIndex: -1,
        editedItem: {
            id: 0,
            name: '',
            lastName: '',
            email: '',
        },
        defaultItem: {
            id: 0,
            name: '',
            lastName: '',
            email: ''
        },
        lista: [],
        headersClients: [
            { text: 'Identificador de cliente', value: 'id' },
            { text: 'Nombre', value: 'name' },
            { text: 'Apellido', value: 'lastName' },
            { text: 'Correo electrónico', value: 'email' },
            { text: 'Acciones', value: 'actions', sortable: false }
        ]
    },

    methods: {
      getClients(){
        fetch("http://localhost:8080/api/clients", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          }
        }).then(respuesta => respuesta.json())
        .then(data => {
          this.lista = data;
        });
      },

      editItem (item) {
        this.editedIndex = this.lista.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
          /* this.editedIndex = this.lista.indexOf(item) */
          this.editedItem = Object.assign({}, item)
          this.dialogDelete = true
      },

      deleteItemConfirm () {
        /* this.lista.splice(this.editedIndex, 1) */
        let itemId = this.editedItem.id;
        console.log(itemId);
        fetch(`http://localhost:8080/api/clients/${itemId}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        }).then(respuesta => respuesta.json())
        .then(data => {
          console.log(data);
          this.editedItem = Object.assign({}, this.defaultItem)
          this.closeDelete()
        });
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
        })
      },

      save () {
        let esNuevo = this.editedItem.id === 0 ? true : false
        if (esNuevo) {
          let client = this.editedItem;
          console.log(client);
          fetch("http://localhost:8080/api/clients", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(client)
          }).then(respuesta => respuesta.json())
          .then(data => {
            console.log(data);
            this.getClients();
            this.close()
          });
        } 
        else {
          let client = this.editedItem;
          console.log(client);
          let itemId = this.editedItem.id;
          console.log('No es nuevo')
          fetch(`http://localhost:8080/api/clients/${itemId}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(client)
          }).then(respuesta => respuesta.json())
          .then(data => {
            console.log(data);
            this.getClients();
            this.close();
          });
        }
      }
    },

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo cliente' : 'Editar cliente'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },
  
    created(){
      setTimeout(()=>{
        this.loading = false;
        this.getClients();
      }, 3000)
    }  
  })
</script>
</html>